/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root{
	--MarromEscuro-Dark: #130909;
	--MarromEscuro:#261212;
	--MarromClaro: #A6372D;
	--LaranjaForte: #F24130;
	--LaranjaClaro: #F2672E;
	--AzulVariant: #5A8A7E;
	--GreyVariant: #CFCFCF;
	--GreyDark: #121212;
	--GreyText:#525252;
}

*{
	margin: 0;
  padding: 0;
	font-family: 'Montserrat', sans-serif;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}


/* MENU/CABEÇALHO */

.container-fluid{
	background-color: var(--MarromEscuro);
}

.navbar{
	background-color: var(--MarromEscuro);
	display: flex;
	align-items: center;
}

.navbar a{
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

.navbar a:hover{
	color: #fff;
	opacity: 0.7;
}

.navbar-toggler{
	border-color: #fff;
}

.navbar-nav{
	list-style: none;
	display: flex;
}

.navbar-nav	 li{
	letter-spacing: 3px;
	margin-left: 32px;
}


/* footer */

footer{
	background-color: var(--MarromEscuro);
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
}

footer p{
	padding: 5px;
	color: white;
}
