*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: rgb(161, 161, 161);
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.div_logo{
    width: 250px;
}

.header .logo{
    width: 100%;
}

.div_menu{
    display: flex;
    justify-items: end;
    color: white;
}

.header .navegacao{
    margin-right: 100px;
}

.header .li a{
    color:white;
}

.nav .li a:hover{
    background-color:rgb(143, 143, 143);
}

.nav .active{
    background-color:rgb(65, 65, 65);
}

.cadastro li{
    margin-left: 20px;
}




.carousel_1{
    width: 100%;
}




/*Em cartaz*/
.div-titulo{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 60px;
}


.titulo-principal{
    font-size: 50px;
}

.carousel_2{
    width: 100%;
}

.carousel_2 div{
    display: inline;
}

.carousel_2 div img{
    width: 360px;
    padding: 30px;
}

.div-botao{
    text-align: center;
}

.botao{
    padding: 0px 60px;
}








/*Footer*/
.footer{
    padding: 50px;
    background-color: rgb(161, 161, 161);
    margin-top: 70px;
}

.div-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-footer .logo{
    width: 200px;
    margin-right: 40px;
}


